# If left unchanged, the following will: 
# 	1. install a local tMDataLoader
# 	2. configure it to connect to PSQL database

# Change only if using your own tMDataLoader
TM_DATALOADER_PATH='/home/georgeyuan/Pheno-Import/tMDataLoader'

# Make sure these variables are correct if using the local installion
DB_TYPE='postgres'	
TRANSMART_DB_HOST='localhost'
TRANSMART_DB_PORT='5432'
TRANSMART_DB_USR='test2'
TRANSMART_DB_PWD='test2'

export TM_DATALOADER_PATH DB_TYPE RANSMART_DB_HOST TRANSMART_DB_PORT TRANSMART_DB_USR TRANSMART_DB_PWD
